<div class="jumbotron">
  <div class="container">
  <div class="col-sm-8 col-sm-offset-2">
  <div class="row">
  <div class="col-lg-12 col-md-12">
  <div class="register-card card">
      <div class="header text-center">
          <h4 class="title"><img src="assets/img/KiWingsLogo.png" /></h4>
      </div>
      <div class="content">
        <form name="form" (ngSubmit)=" register()"  novalidate>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control border-input" placeholder="firstName" name="firstName"  required />
                      <div  class="help-block">First Name is required</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group" >
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control border-input" placeholder="LastName" name="lastName" required />
                      <div  class="help-block">Last Name is required</div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group" >
                      <label for="username">Username</label>
                      <input type="text" class="form-control border-input" placeholder="Username" name="username"   required />
                      <div  class="help-block">Username is required</div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group" >
                      <label for="password">Password</label>
                      <input type="password" class="form-control border-input" placeholder="Password" name="password"   required />
                      <div  class="help-block">Password is required</div>
                  </div>
              </div>
          </div>
          <div class="text-center">
              <button [disabled]="loading" type="submit" class="btn btn-info btn-fill btn-wd">Register</button>
              <img *ngIf="loading" src="" />
          </div>
          <div class="pull-right">
              <a [routerLink]="['/login']" >Login</a> &nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/register']" >Forgot Password</a>
          </div>
          <div class="clearfix"></div>
      </form>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  